.iconcontainer
{    
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* Center the icon */
    display: flex;
    justify-content: center;
    align-items: center;
}

.coffeetext
{
    font-family: 'League Gothic', sans-serif;
    font-weight: normal;
    font-size: 4em;
    color: white;
    
    position: fixed;
    top: 80%;
    
    width: 100%;
    text-align: center;
    height: 2em;
}

.coffeeicon
{
    color:white;
    font-size: 10em;
}

#background-pattern
{
    position: fixed;
    top:0;
    z-index: -1;
}

/* Text drop shadows */
.coffeeicon,
body > span
{
    text-shadow: 3px 3px 5px #888;   
}